<div class="container">
  <h1><%= @restaurant.name %></h1>
  <hr class="border border-danger">
  <div class="mt-2 p-2 rounded bg-dark text-light align-middle fs-3 fw-bold">
    <p class="m-0">"<u><i>The best <%= @restaurant.category %> food</u></i>" in <%= @restaurant.address.match(/(?<=, )\w*/) %>!</p>
  </div>
  <div class="container text-end fs-6">
    <p class="mb-0"><%= @restaurant.address %></p>
    <p class="mb-0"><%= @restaurant.phone_number %></p>
  </div>
  <h3>Reviews</h3>
  <div class="container">

  </div>
</div>
